body[skin="1"]  #m{padding:10px;}
body[skin="1"]  #m li{display:inline-block;vertical-align:bottom;
	text-align:center;
	position:relative;}
body[skin="1"]  #m li a{display:inline-block;vertical-align:bottom;
	padding:10px;width:100px;}
body[skin="1"]  #m li:hover a{background:#F8F8F8;}


body[skin="1"]  #m li .check{position:absolute;top:0;right:0;z-index:1;
	height:20px;width:20px;border:3px solid rgba(0,0,0,0);
	font-weight:bold;}
body[skin="1"]  #m li:hover .check{border-color:rgba(150,150,150,.3);background:rgba(150,150,150,.1);}

body[skin="1"]  #m li[check="yes"],
body[skin="1"]  #m li[check="yes"]:hover a{
	/*box-shadow:0 0 0 3px #4bf inset;*/
	background:#d7e8ff;
}
body[skin="1"]  #m li[check="yes"] .check{
	border-color:#4bf;
	background:rgba(5,146,255,.15);
	pointer-events:auto;}
body[skin="1"]  #m li[check="yes"] .check:before{content:'';
	width:30px;height:30px;
	background:url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><polygon fill="#4bf" points="0,8 5.8,11.9 20,0.8 6.7,18.7"/></svg>') no-repeat;background-size:cover;
	position:absolute;left:0;bottom:0;}

body[skin="1"] #m size,
body[skin="1"] #m time{display:none;}

body[skin="1"]  #m li img{max-width:100px;max-height:100px;
	margin:0 auto;
	display:inline-block;vertical-align:bottom}
body[skin="1"] .cover{width:100px;height:100px;line-height:100px;
	background:#DDD;}
body[skin="1"] .cover.img{background:none;}
body[skin="1"] .folder{background:#FFD500;}
body[skin="1"] .empty{background:#EEE;}
body[skin="1"]  #m h4{line-height:2;font-size:12px;font-weight:normal;
	overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}